name: Build and Test

on:
  push:
    branches: master
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Install System Packages
        run: |
          dnf -y install git dnf-plugins-core redhat-rpm-config sbcl \
            curl make wlroots-devel cairo-devel pango-devel \
          && dnf -y builddep wlroots
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Prepare Lisp Environment
        run: |
          curl -O https://beta.quicklisp.org/quicklisp.lisp \
          && sbcl --noinform --load quicklisp.lisp --eval "(quicklisp-quickstart:install)" \
          && sbcl --noinform --load "$HOME/quicklisp/setup.lisp"  --eval "(progn (setf ql-util::*do-not-prompt* t)(ql:add-to-init-file))" \
          && sbcl --noinform --eval "(ql:quickload '("alexandria" "cl-ansi-text" "terminfo" "iterate" "cffi" "cffi-grovel" "closer-mop" "adopt"))" \
          && sbcl --noinform --eval "(ql:quickload '("fiasco"))"
      - name: Build
        run: make
      - name: Test
        run: make test
